<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div class="mb-3">
      <p class="text-danger mb-1"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</p>
      <ul class="list-group">
        <% article.errors.each do |error| %>
          <li class="list-group-item list-group-item-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="d-flex align-items-center gap-2">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'cancel', article_path('blank'), data: { turbo_frame: 'article_wrapper' } %>
  </div>
<% end %>
