<%= turbo_stream.append('articles') do %>
  <div id="<%= dom_id(@article) %>" class="mb-2">
    <%= render 'article_in_list', article: @article %>
  </div>
<% end %>

<%= turbo_stream.update('article_wrapper') do %>
  <%= link_to "New article", new_article_path %>
<% end %>
